<h2>Articles</h2>
<% @magazine.articles.each do |article| %>
  <p>
    <strong>title:</strong>
    <%= @article.title %>
  </p>
 
  <p>
    <strong>Body:</strong>
    <%= @article.body %>
  </p>
   <p>
    <strong>Author:</strong>
    <%= @article.author %>
  </p>
  <p> <%= link_to 'Destroy article', [article.magazine, article],
               method: :delete,
               data: { confirm: 'Are you sure?' } %></p>
<%end %> 