
<div class="main">
<h1>Edit Post</h1>
<div class="row-fluid">
<%= render "form"%>
</div><br>
<div class="row-fluid mlp15">
<label><%= link_to "Back", magazines_path,:class => "btn btn-primary" %></label>
</div>
</div>