
<div class="main">
<h1>New Magazine</h1>
<div class="row-fluid">
	<%= render "form"%>
</div><br>
	<div class="col-md-10 col-md-offset1 mlp15">
    <label class=""><%= link_to "Back",magazines_path,:class => "btn btn-primary" %></label>		
	</div>
</div>
