

<section class="main">
	<h1>Show Magazine</h1>
	<div class="row">	     
			 <label class="col-md-1">Name:</label>
		 <div class="col-md-3 ">		
			<%= @magazine.name%>
	     </div>
    </div>
<div class="row">
 <%= render "articles/form"%>
</div>
	<div class="row-fluid">
		<%= link_to "Edit", edit_magazine_path,:class => "btn btn-primary"%>
      <%= link_to "Back",magazines_path,:class => "btn btn-primary"%>
		
	</div>
</section>
